<!DOCTYPE html>
<html>
<head>
    <title>Beerfest</title>
    <script type="text/javascript" src="/roemedia/beerfest/_scripts/3rd_party/jquery/jquery.js.php"></script>
    <script type="text/javascript" src="/roemedia/beerfest/_scripts/3rd_party/jquery/jquery.mobile.js.php"></script>
    <script type="text/javascript" src="/roemedia/beerfest/_scripts/3rd_party/jqplot/jqplot.js.php"></script>
    <script type="text/javascript" src="/roemedia/beerfest/_scripts/app.js"></script>
    <script type="text/javascript" src="/roemedia/beerfest/_scripts/chart.js"></script>
    <link rel="stylesheet" href="/roemedia/beerfest/_style/app.php" />
    <link rel="stylesheet" href="/roemedia/beerfest/_style/3rd_party/jquery/jquery.mobile-1.4.1.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>